.title{
  border: 3px solid green;
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  color:blue;
}

.weatherinput{
  text-align: center;
  color:black;
  width:80%;
  height:80%;
  border-color: red;
  margin-left: 10%;
}
button{
border-color:#6fe675;
  background-color: white;
  border-radius: 5px;
  padding: 15px 32px;
  margin: 10px;
  margin-left: 30%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 40%;
}
button:hover{
  background-color: #6fe675;
}
input{
  border: 2px solid rgb(244, 0, 0);

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
span{
  border: 2px solid rgb(228, 5, 5);

  padding: 15px 32px;
margin-right:0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  background-color: gray;
  color:white;
}

.container{
  border: 3px solid rgb(7, 184, 7);
  margin-top: 10%;
  content: center;
  width: 100%;
  padding: 10px;
  text-align: center;
  color:black;
  width:30%;
  height:50%;
  margin-left: 35%;
}